DJANGO_SECRET_KEY=placeholder
DJANGO_DEBUG=True
POSTGRES_DB=placeholder
POSTGRES_USER=placeholder
POSTGRES_PASSWORD=placeholder
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
FRONTEND_API_URL=http://localhost:8000/api/v1/
